<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>OpenCompanyAccount</servlet-name>
        <servlet-class>Servlets.Register.OpenCompanyAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OpenCitizenAccount</servlet-name>
        <servlet-class>Servlets.Register.OpenCitizenAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OpenMerchantAccount</servlet-name>
        <servlet-class>Servlets.Register.OpenMerchantAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CloseCitizenAccount</servlet-name>
        <servlet-class>Servlets.Close.CloseCitizenAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CloseEmployeeAccount</servlet-name>
        <servlet-class>Servlets.Close.CloseEmployeeAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MakeTransaction</servlet-name>
        <servlet-class>Servlets.Transactions.MakeTransaction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>makePendings</servlet-name>
        <servlet-class>Servlets.Transactions.makePendings</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompleteTransaction</servlet-name>
        <servlet-class>Servlets.Transactions.CompleteTransaction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Servlets.Register.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addProduct</servlet-name>
        <servlet-class>Servlets.Product.addProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getProducts</servlet-name>
        <servlet-class>Servlets.Product.getProducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getAllCitizens</servlet-name>
        <servlet-class>Servlets.Merchant.getAllCitizens</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getAllCompanies</servlet-name>
        <servlet-class>Servlets.Merchant.getAllCompanies</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getAllProducts</servlet-name>
        <servlet-class>Servlets.Product.getAllProducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReturnProduct</servlet-name>
        <servlet-class>Servlets.Transactions.ReturnProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeesTransactions</servlet-name>
        <servlet-class>Servlets.Questions.EmployeesTransactions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransactionsList</servlet-name>
        <servlet-class>Servlets.Questions.TransactionsList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCitizen</servlet-name>
        <servlet-class>Citizen.GetCitizen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getCompany</servlet-name>
        <servlet-class>Servlets.Company.getCompany</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getEmployee</servlet-name>
        <servlet-class>Servlets.Company.getEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getEmployees</servlet-name>
        <servlet-class>Servlets.Company.getEmployees</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCitizenTransaction</servlet-name>
        <servlet-class>Servlets.Questions.GetCitizenTransaction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CitizenTransactions</servlet-name>
        <servlet-class>Citizen.CitizenTransactions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompanyTransactions</servlet-name>
        <servlet-class>Servlets.Company.CompanyTransactions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MerchantTransactions</servlet-name>
        <servlet-class>Servlets.Merchant.MerchantTransactions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GoodUsers</servlet-name>
        <servlet-class>Servlets.Statistics.GoodUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BadUsers</servlet-name>
        <servlet-class>Servlets.Statistics.BadUsers</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OpenCompanyAccount</servlet-name>
        <url-pattern>/OpenCompanyAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OpenCitizenAccount</servlet-name>
        <url-pattern>/OpenCitizenAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OpenMerchantAccount</servlet-name>
        <url-pattern>/OpenMerchantAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CloseCitizenAccount</servlet-name>
        <url-pattern>/CloseCitizenAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CloseEmployeeAccount</servlet-name>
        <url-pattern>/CloseEmployeeAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MakeTransaction</servlet-name>
        <url-pattern>/MakeTransaction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>makePendings</servlet-name>
        <url-pattern>/makePendings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompleteTransaction</servlet-name>
        <url-pattern>/CompleteTransaction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addProduct</servlet-name>
        <url-pattern>/addProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getProducts</servlet-name>
        <url-pattern>/getProducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getAllProducts</servlet-name>
        <url-pattern>/getAllProducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReturnProduct</servlet-name>
        <url-pattern>/ReturnProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeesTransactions</servlet-name>
        <url-pattern>/EmployeesTransactions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransactionsList</servlet-name>
        <url-pattern>/TransactionsList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCitizen</servlet-name>
        <url-pattern>/GetCitizen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getCompany</servlet-name>
        <url-pattern>/getCompany</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getEmployee</servlet-name>
        <url-pattern>/getEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getEmployees</servlet-name>
        <url-pattern>/getEmployees</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCitizenTransaction</servlet-name>
        <url-pattern>/GetCitizenTransaction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CitizenTransactions</servlet-name>
        <url-pattern>/CitizenTransactions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompanyTransactions</servlet-name>
        <url-pattern>/CompanyTransactions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MerchantTransactions</servlet-name>
        <url-pattern>/MerchantTransactions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GoodUsers</servlet-name>
        <url-pattern>/GoodUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BadUsers</servlet-name>
        <url-pattern>/BadUsers</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
